@import 'react-datepicker/src/stylesheets/datepicker.scss';

.date-peacker-custom-input{
    border: 1px solid gray;
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
}

.react-datepicker__navigation-icon{
    width: 0;
}
.react-datepicker__navigation-icon::before {
    width: 14px;
    height: 14px;
    top: 10px;
}
#search-icon{
    display: none;
}
#remove-icon{
    display: none;
}
.img-increase:hover > #search-icon{
    display: block;
}
.img-increase{
    position: absolute;
    left: 75px; 
    top: 50px;
    font-size: 26px;
    cursor: pointer;
    z-index: 1;

}
.img-remove{
    position: absolute;
    right: 10px; 
    top: 10px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
}
.img-remove:hover > #remove-icon{
    display: block;
}
.img-remove:hover ~ #img-back{
    display: block;
}
.img-increase:hover ~ #img-back{
    display: block;
}
#img-back{
    background-color: black;
    opacity: 0.4;
    position: absolute;
    left: 0px; 
    top: 0px;
    width: 100%;
    height: 100%;
    display: none;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown-content a{
    color: #4a4a4a;
}
.dropdown-content a:hover{
    color: blue;
}
// .menu-label{
//     color: wheat;
// }
.pagination-link.is-current{
    border-color: white;
}

.menu-list a{
    color: wheat;
}